body,
html,
.main {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: whitesmoke;
}

section {
  min-height: 100%;
}
.sectionOne {
  background-color: whitesmoke;
}

.sectionTwo {
  background-color: whitesmoke;
}

.sectionThree {
  background-color: yellow;
}
.sectionThree {
  background-color: whitesmoke;
}
