body,
html,
.main {
  height: 100%;
}

section {
  min-height: 100%;
}
.sectionOne {
  background-color: blue;
}

.sectionTwo {
  background-color: green;
}

.sectionThree {
  background-color: yellow;
}
.sectionThree {
  background-color: red;
}
